.edition-bg {
  background: url("../assets/images/edition-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.edition {
  padding-top: 120px;
  padding-bottom: 120px;
}

.edition h2 {
  margin-bottom: 120px;
}

.edition-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.edition-item-wrapper {
  border: 1px solid #2f9cb6;
  max-width: 480px;
  display: grid;
  grid-template-rows: 180px auto;
}

.twin-deluxe-img {
  background: url("../assets/images/image-slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
}

.standard-img {
  background: url("../assets/images/image-edition.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

.edition-item-img {
  border-bottom: 1px solid #2f9cb6;
}

.edition-item-about {
  padding: 30px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 30px;
}

.edition-item-about h3 {
  text-align: center;
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 1.5rem;
}

.edition-item-logo {
  padding: 20px 120px;
  border: 1px solid #2f9cb6;
}

.edition-item-list li {
  font-family: "Noto Sans Bengali", sans-serif;
  line-height: 2;
}

.edition-item-btn {
  text-align: center;
  padding: 16px;
  width: 100%;
  transition: 0.3s;
}

.edition-item-btn:hover {
  transform: translate3d(4px, 3px, 0);
}

@media (max-width: 760px) {
  .edition-item-container {
    justify-content: center;
  }

  .edition-item-about h3 {
    font-size: 1.125rem;
  }

  .edition-item-list li {
    font-size: 0.875rem;
  }
}
