.footer-bg {
  background-color: #000000;
}

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
}

.footer-logo {
  max-width: 220px;
  align-self: center;
}

.footer-contact h4 {
  font-family: "Noto Sans Bengali", sans-serif;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 1.25rem;
}

.footer-contact-list li ~ li {
  margin-top: 8px;
}

.footer-contact-list li a {
  color: #ffffff;
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 1rem;
  transition: 0.3s;
}

.footer-contact-list li a:hover {
  color: #7ebbce;
}

.footer-icon-list {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.footer-icon-list li {
  display: block;
  width: 32px;
}

.footer-icon-list li ~ li {
  margin-left: 8px;
}

.footer p {
  color: #cacaca;
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 0.875rem;
}

@media (max-width: 760px) {
  .footer {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 30px;
    text-align: center;
  }

  .footer-logo {
    justify-self: center;
    margin-bottom: 16px;
  }

  .footer-contact {
    margin: 0 auto;
  }

  .footer-icon-list {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}
