* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* componentes gerais */

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-bg {
  display: inline-block;
  background: linear-gradient(to bottom, #043687, #084bb9);
}

.btn-bg ~ span {
  margin-left: 30px;
}

.styled-btn {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Noto Sans Bengali", sans-serif;
  color: #ffff;
  border: none;
  background: linear-gradient(to bottom, #295765, #7ebbce);
}

.styled-title {
  font-family: "Noto Serif Khojki", serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.styled-title::after,
.styled-title::before {
  content: "";
  display: block;
  background: url("../assets/logos-and-icons/separator.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 15px;
}

.styled-title::after {
  margin-top: 10px;
}

.js-scroll {
  opacity: 0;
  transition: 0.3s;
}

.js-scroll.active {
  animation: animeScroll 0.5s forwards;
}

@keyframes animeScroll {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 760px) {
  .styled-title {
    font-size: 1.5rem;
  }
  .styled-title::after,
  .styled-title::before {
    background-size: 250px;
  }
}
